
html, body {
    background-color: #d2d2d2;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
#g-page-surround {
    background-size: inherit;
    height: 100%;
    min-height: 100%;
    overflow: auto;
}
#g-header.tmp_head {
    background-color: transparent;
}
.videos h1 {
    border-bottom: 2px solid #ddd;
    text-align: center;
}
#g-navigation {
    background-attachment: scroll, fixed, fixed;
    background-clip: border-box, border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("images/home-assets/Linea_imagen.png"), url("images/home-assets/fondopanal.png"), url("images/home-assets/fondo.png");
    background-origin: padding-box, padding-box, padding-box;
    background-position: center bottom, center top, center top;
    background-repeat: no-repeat, repeat-x, repeat;
    background-size: contain;
    height: 95%;
    min-height: 95%;
    overflow: auto;
}
#g-navigation .panalHeaderContainer {
    display: block;
    margin: 0 auto;
}
.noPadding, .noPadding div {
    padding: 0;
}
#g-header .mainmenu .g-main-nav .g-toplevel > li > .g-menu-item-container {
    color: #fff;
}
#g-header .mainmenu .g-main-nav {
    background-color: #f37064;
    border-radius: 3px;
}
#g-header .mainmenu .g-main-nav .g-toplevel > li.active:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) > .g-menu-item-container:hover {
    color: #666;
}
#g-header .mainmenu .g-main-nav .g-toplevel > li.active.g-selected:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) > .g-menu-item-container {
    background-color: white;
    color: #f37064;
}
#g-header .g-content {
    margin-bottom: 0;
    padding-bottom: 0;
}
#g-header .mainmenu .g-toplevel > li .g-menu-item-container:hover {
    color: #f37064;
}
#g-main {
    background: transparent none repeat scroll 0 0;
    color: #666;
    padding: 1.5rem 0;
}
.site-wrapper {
    display: table;
    height: 94%;
    min-height: 94%;
    width: 100%;
}
.site-wrapper-inner {
    display: block;
    margin: 0 auto;
    vertical-align: top;
    width: 339px;
}
section#g-navigation.tmp_head.site-wrapper div.g-container div.g-grid div.g-block {
    flex: 0 0 auto;
}
.cover-container {
    margin-left: auto;
    margin-right: auto;
}
iframe {
    background-color: transparent;
    border-radius: 0;
}
section#g-navigation.tmp_head.site-wrapper div.g-container {
    display: table-cell;
    position: relative;
    top: -80px;
    vertical-align: middle;
    width: 100%;
}
section#g-navigation.tmp_head.site-wrapper div.g-container div.g-grid div.g-block.site-wrapper-inner.size-100 div.g-content {
    margin: 0;
    padding: 0;
}
div#g-page-surround div.g-container {
    width: 70%;
}
.panalContainer {
    background: rgba(0, 0, 0, 0) url("images/home-assets/Logo_gris.png") no-repeat scroll center center;
    display: table-cell;
    height: 319px;
    position: relative;
    width: 339px;
}
.panalContainer a {
    display: table-cell;
    height: 119px;
    opacity: 0.9;
    position: absolute;
    width: 103px;
}
.panalContainer a:hover {
    opacity: 1;
    transform: scale(1.1);
}
.panalContainer div h3 {
    opacity: 0;
    position: absolute;
    text-shadow: -1px -2px #fff;
    transition: all 1s ease 0s;
}
.panalContainer div:hover h3 {
    opacity: 1;
    text-shadow: 0 1px 2px #999;
}
.profileIcon a {
    background: rgba(0, 0, 0, 0) url("images/home-assets/Profile.png") repeat scroll 0 0;
    left: 58px;
    top: 0;
}
.profileIcon h3 {
    left: -35px;
    top: 20px;
}
.calendarioIcon a {
    background: rgba(0, 0, 0, 0) url("images/home-assets/Calendario_icon.png") repeat scroll 0 0;
    left: 179px;
    top: 0;
}
.calendarioIcon h3 {
    left: 310px;
    top: 20px;
}
.bdIcon a {
    background: rgba(0, 0, 0, 0) url("images/home-assets/BD_Icon.png") repeat scroll 0 0;
    left: 0;
    top: 100px;
}
.bdIcon h3 {
    left: -120px;
    top: 125px;
}
.socialIcon a {
    background: rgba(0, 0, 0, 0) url("images/home-assets/Red_social_icon.png") repeat scroll 0 0;
    left: 236px;
    top: 100px;
}
.socialIcon h3 {
    left: 300px;
    top: 125px;
    width: 200px;
}
.videoIcon a {
    background: rgba(0, 0, 0, 0) url("images/home-assets/Video_icon.png") repeat scroll 0 0;
    left: 58px;
    top: 200px;
}
.videoIcon h3 {
    left: -80px;
    top: 225px;
    width: 120px;
}
.foroIcon a {
    background: rgba(0, 0, 0, 0) url("images/home-assets/Foro_icon.png") repeat scroll 0 0;
    left: 179px;
    top: 200px;
}
.foroIcon h3 {
    left: 310px;
    top: 225px;
}
.bihaivModulo h1 {
    border-bottom: 1px solid #666;
    text-align: center;
}
.bihaivModulo h1.txt-white {
    border-bottom: 1px solid white;
    color: white;
}
.carousel {
    margin-bottom: 0;
}
.carousel-inner > .item {
    text-align: center;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: table-cell;
}
.carousel-control {
    font-size: 40px;
    line-height: 25px;
    margin-top: 2%;
    top: 40%;
    width: 2%;
}
#community-wrap .js-focus-cover::after {
    padding-top: 27.5%;
}
#community-wrap .thumbnail > img {
    margin-left: 0;
}
#community-wrap .js-focus-avatar {
    display: block;
    left: 55px;
    margin-bottom: -80px;
    margin-right: 20px;
    max-height: 240px;
    overflow: hidden;
    position: relative;
    text-align: left;
    top: -100px;
}
#community-wrap .thumbnail {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0;
    padding: 15px;
}
.btn-bihaiv {
    background-color: #f37064;
}
header#g-header.tmp_head div.g-container div.g-grid div.g-block.size-39 div.g-content div.platform-content div.moduletable.app-box {
    margin: 0;
    padding: 0;
}
form#cFormSearch {
    margin: 0;
}
form#cFormSearch table.table tbody tr td {
    border: medium none;
    margin: 0;
    padding: 0 8px 0 0;
}
#cFormSearch input, #cFormSearch a {
    border-radius: 0;
}
#cFormSearch input {
    padding: 2px;
}
.app-box {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    height: auto;
    margin: 0;
    padding: 0;
}
.app-box table, .app-box table td, .app-box table tr {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.moduletable[class*="box"], .widget[class*="box"], .moduletable[class*="shadow"], .widget[class*="shadow"] {
    margin: 0;
    padding: 0;
}
#community-wrap div.cStream-Actions a {
    background-color: white;
    border: 1px solid #ddd;
    color: #666;
    margin-top: 3px;
    padding: 10px;
}
#community-wrap .cStream-Actions {
    margin: 15px auto;
}
#community-wrap .cStreamList > li {
    background-color: rgba(252, 252, 252, 1);
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    padding: 15px;
}
#community-wrap div.cStream-Headline {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 13px;
    padding-bottom: 8px;
}
#community-wrap .app-box {
    background-color: rgba(252, 252, 252, 1);
    border: 1px solid #dadada;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    margin: 0 0 15px;
    padding: 10px;
}
#community-wrap .js-toolbar .navbar-inner, #community-wrap .js-toolbar .nav > li > a {
    min-height: 33px;
}
#community-wrap .cIndex-Box {
    background-color: rgba(252, 252, 252, 1);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    padding: 15px;
    position: relative;
}
#community-wrap a, #community-wrap a:visited {
    color: #f37064;
    text-decoration: none;
}
#community-wrap a:hover {
    color: #d15042;
    text-decoration: none;
}
#community-wrap .app-box > h3 {
    color: #f37064;
}
.nav > li > a.btnHeaderLogin {
    height: 33px;
    padding: 0;
    width: 112px;
}
.nav > li > a:hover {
    background: transparent none repeat scroll 0 0;
}
.cHello-Menu div {
    float: left;
    width: 140px;
}
#headerMenu ul {
    list-style: outside none none;
    margin-left: 0;
}
#headerMenu ul li {
    float: left;
}
.buscadorWidth {
    width: 300px;
}
div#g-page-surround .showcase div.g-container {
    width: 100%;
}
.cMod-Notify a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
[class^="icon-"] {
    display: inline-block;
    height: 32px;
    line-height: 63px;
    width: 32px;
}
.icon-notification {
    background: rgba(0, 0, 0, 0) url("images/redsocial-assets/notificaciones.png") no-repeat scroll center top;
}
.icon-friend {
    background: rgba(0, 0, 0, 0) url("images/redsocial-assets/amigos.png") no-repeat scroll center top;
}
.icon-inbox {
    background: rgba(0, 0, 0, 0) url("images/redsocial-assets/mensajes.png") no-repeat scroll center top;
}
.icon-logout {
    background: rgba(0, 0, 0, 0) url("images/redsocial-assets/logout.png") no-repeat scroll center top;
}
form#communitylogout3.cForm {
    margin: 0;
}
