@import 'nib'
/*
 *	COLORS 
 *	===========
 */
$co_orange_primary = #f37064
$co_orange_primary_dark = #E16A5F
$co_honey_primary = #FAE617
$co_primary_gray = #999999

$co_black = #000
$co_white = #fff
$co_ligth_gray = #f5f6f6

/*
 *	FONTS
 *	=================
 */
$fo_raleway = 'Raleway', sans-serif
/*
 *	BODY
 *	==============
 */
body
	background-color rgb(241,241,241)
	font-size 16px
	font-family $fo_raleway
a
	color $co_orange_primary
	&:hover
		color $co_orange_primary_dark
		text-decoration underline