.btn
	border-radius 0px
	letter-spacing .8px
	transition .2s all ease-in-out

.btn-primary
	background-color $co_orange_primary
	border-color $co_orange_primary_dark
	outline none
	&:hover
		background-color $co_orange_primary_dark
		border-color $co_orange_primary
	&:active
		background-color $co_orange_primary_dark
		border-color $co_orange_primary
		outline none
		transition .2s all ease-in-out
		&:hover
			background-color $co_orange_primary_dark
			border-color $co_orange_primary
			transition .2s all ease-in-out
	&:focus
		background-color $co_orange_primary_dark
		border-color $co_orange_primary
		outline none
		transition .2s all ease-in-out
.btn-primary[disabled]
	&:hover
		background-color $co_orange_primary
		border-color $co_orange_primary
		
.btn-outline-primary
	background-color transparent
	border 1px solid $co_orange_primary_dark
	color $co_white
	&:hover
		background-color $co_orange_primary_dark
		color $co_white
	&:focus
	&:active
		color $co_white
		outline none
	&.text-orange
		color $co_orange_primary
		&:hover
			color $co_white
.btn-success-outline
	background-color transparent
	border 1px solid #4cae4c
	color #4cae4c
	&:hover
		color #4cae4c
.btn-primary-outline
	background-color transparent
	border 1px solid $co_orange_primary
	color $co_orange_primary_dark
	&:hover
		color $co_orange_primary_dark
.btn-outline-white
	background-color transparent
	border 1px solid $co_white
	color $co_white
	&:hover
		background-color $co_white
		color $co_orange_primary
	&:focus
	&:active
		color $co_orange_primary
		outline none
	&.text-orange
		color $co_orange_primary
		&:hover
			color $co_white