.modal-content
	border-radius 0px
.Img-modal
	height 190px
	position relative
	width 100%
	&:after
		background-color rgba(0,0,0,.5)
		content ''
		height 100%
		position absolute
		top 0
		left 0
		width 100%
	img
		height 190px
		max-width 100%
		width 100%