.site-wrapper
	height 100vh
	position fixed
	top 90px
	width 100%
	z-index 100
.site-canvas
	height 100%
	padding 0
	position relative
	transform translateX(0)
	-webkit-transform translateX(0)
	transition .3s all ease
	-webkit-transition .3s all ease
	width 100%
.site-menu
	background #2f323a
	float left
	height 100%
	left 0px
	top 0
	position fixed
	width 15%
.content-app
	float left
	left 15%
	height 100%
	overflow auto
	padding 20px
	padding-bottom 100px
	position relative
	width 85%
	z-index 100
.site-wrapper.hide-nav .site-canvas
	-webkit-transform translateX(-250px)
	transform translateX(-250px)