/*
 *	HEADER PROFILE
 *	=================
 */
.Profile__header
	background-color $co_white
	border-top 5px solid $co_orange_primary
	height 100px
	line-height 100px
	max-width 100%
	position relative
	width 100%
	z-index 999
.breadcrumb-header-actions
	i
		font-size 18px
.Profile__nav
	background-color $co_orange_primary
	height auto
	line-height 45px
	max-width 100%
	margin-top 70px
	overflow hidden
	width 100%
	ul
		display inline-block
		height 50px
		line-height 50px
		margin 0 !important
		padding 0 !important
		li
			display inline-block
			a
				color $co_white
				line-height 45px
				padding 20px
				&:hover
					background-color $co_orange_primary_dark
	h2
		color $co_white
		line-height 50px
		margin 0
.Profile__cover
	background $co_white
	height 315px
	max-width 100%
	width 100%
	img
		height 315px
		margin 0
		max-height 315px
		max-width 100%
		padding 0
		width 100%
.Profile__info
	background-color $co_white
	height 170px
	max-width 100%
	position relative
	width 100%
.Profile__info--photo
	border 2px solid $co_ligth_gray
	height 180px
	position absolute
	top -85px
	width 200px
	img
		height 100%
		width 100%
	ul
		margin-top 5px
		li
			border-radius 0px !important
.Profile__info--title
	color white
	left 225px
	padding 5px
	position absolute
	top -80px
.Role--Profile
	font-weight 300
	color $co_orange_primary !important
	margin 0
	margin-bottom .5rem
	padding 0
	span
		color $co_orange_primary !important
.Company--Profile
	font-weight 700
	color $co_orange_primary !important
	margin 0
	margin-bottom 1rem
	padding 0
	text-transform uppercase
	a
		color $co_orange_primary !important
		&:hover
			color $co_orange_primary_dark !important
.Description--profile
	color $co_black
	font-size 1em
	line-height 24px
	margin-top 1em
.Profile__wall
	background-color white
	width 100%
.Wall
	background-color white
	height auto
	max-width 100%
.Wall__header
	background-color $co_orange_primary
	border-bottom 2px solid #B7564D
	padding 5px 20px
	z-index 999
	p
		font-size 16px
		letter-spacing 1px
		margin 0
		margin-left 10px
		text-transform uppercase
		padding 0
		a
			color #B7564D
	figure
		img
			height 15px
.Wall__content
	height auto
	max-height auto
	overflow-y auto
	&.padding
		padding 10px 20px
	img
		text-align center
		&.img-initiative
			height 130px
			max-width 100%
		&.img-shares
			height 100px
			max-width 100%
	div
		&.social
			text-align center
	&.large
		height auto !important
		max-height 100%
.wall-edit-button
	background-color $co_ligth_gray
	border-radius 100%
	cursor pointer
	height 30px
	line-height 30px
	position absolute
	right 5px
	text-align center
	transition .2s all ease
	top 5px
	width 30px
	&:hover
		transform scale(1.1)
		transition .2s all ease
.title--initiative,
.date--initiative,
.place--initiative
	margin 0
	margin-bottom .5rem
.actors
	figure
		display inline-block
		margin-right 5px
.list-group
	display block
	list-style none
	&.focus
		li
			border 1px solid #eee
			display inline-block
			max-width 100%
			padding 10px 6px
			width 100%
.list-group-item
	&.hoverable
		transition .2s all ease-in-out
		&:hover
			box-shadow 0 5px 17px 0 rgba(0,0,0,.4)
			transition .2s all ease-in-out
			z-index 100
.row
	&.hoverable
		background-color $co_white
		transition .2s all ease-in-out
		&:hover
			box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
			transition .2s all ease-in-out
.row-colaboration
	background-color $co_white
	line-height 16px
	padding 15px
	position relative
	transition .2s all ease-in-out
	p
		line-height 16px
		margin 0
		padding 0
	&:hover
		box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
		transition .2s all ease-in-out
		z-index 1000
.close-row-sugerencias
	background-color $co_orange_primary_dark
	cursor pointer
	height 25px
	line-height 25px
	position absolute
	right -20px
	text-align center
	top 0px
	width 25px
	z-index 100
	i
		color $co_white
		font-size 18px
		line-height 25px
.Contacts
	height auto
	max-width 100%
	text-align center
	width 100%
.Contacts__profile
	background-color $co_white
	border 1px solid #f5f6f6
	padding 15px
	margin-right auto
	margin-left auto
	position relative
	transition .3s all ease-in-out
	width 100%
	p
		margin 0
	&:hover
		box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
		transition .3s all ease-in-out
.Contacts__profile--identifyer
	border-radius 100%
	cursor pointer
	height 30px
	left 18px
	position absolute
	top 18px
	width 30px
	z-index 100
	img
		height 30px
		width 30px
.Contacts__profile--img
	height 200px
	max-height 200px
	max-width 100%
	width 100%
.Contacts__profile--name
	margin-top 10px !important
.Contacts__profile--role
	margin-top 5px !important
.Contacts__profile--button
	margin-top 10px !important
	
/*
 *	EVENTS
 *	=======
 */
.Events
	background-color $co_orange_primary_dark
	height 300px
	max-width 100%
	margin-bottom 100px
	position relative
	width 100%
	&--title
		display block
		position absolute
		color $co_white
		margin-bottom 15px
		top 10px
		left 10px
		z-index 1000
		font-weight bolder
		span
			display block
			color $co_white
			font-size 16px
			margin-bottom 10px
			z-index 1000
			font-weight bolder
.bg-img
	position relative
	&:after
		background-color rgba($co_black, .5)
		content ''
		height 100%
		position absolute
		top 0
		left 0
		width 100%
		z-index 999
.heart
	height 70px
	position relative
	width 70px
	i
		color #808080
		cursor pointer
		font-size 20px
		position absolute
		top 25px
		left 35px
		&:hover
			color $co_orange_primary_dark
		&.active
			color $co_orange_primary
			animation fave-heart .4s steps(28)
	span
		width 100px
		&.event-likes
			position absolute
			font-size 14px
			left 10px
			top 50px
			&:after
				content ' me gusta'

@keyframes fave-heart
	0%
		transform scale(1)
		color rgba( $co_orange_primary, .2)
	50%
		transform scale(1.3)
		color rgba( $co_orange_primary, .5)
	100%
		transform scale(1)
		color $co_orange_primary
/*
 *	QUESTIONS
 *	==============
 */
.Questions__Company
	background-color $co_ligth_gray
	height 100px
	width 100%
.Company__Name
	h1
		margin 0
		line-height 100px
.Questions__Role
	background-color $co_white
/*
 *	ADMIN
 *	===========
 */
.Menu
	background-color $co_light_black
	height 100%
	max-width 100%
	max-height 100%
	position relative
	width 100%
.Menu__header
	background rgba($co_black, .3)
	max-height 20%
	max-width 100%
	overflow hidden
	padding 15px
	position relative
	text-align center
	figure
		margin 0 auto
		padding 0
		position relative
		img
			border-radius 100%
			margin 0 auto
	p
		color $co_light_gray
		margin 0
		padding 0
		&:first-of-type
			margin-top 10px !important
.Menu__list
	height 60%
	max-height 60%
	max-width 100%
	overflow auto
	position relative
	ul
		margin 0 auto
		padding 20px 0px
		position relative
		li
			display block
			a
				border-bottom 1px solid rgba(69, 74, 84, 0.7)
				border-radius 2px
				color $co_white
				display block
				font-size 16px
				letter-spacing 1px
				padding 10px 20px
				i
					margin-right 10px
				&:hover
					background-color rgba($co_black, .3)
					text-decoration none
				&.active
					background-color rgba($co_black, .5)
					text-decoration none
/*
 *	BEST PRACTICES
 *	==================
 */
.bp__menu
	border 1px solid $co_ligth_gray
	border-radius 4px
	height 600px
	max-height 600px
	overflow-x auto
	width 100%
	ul
		padding 10px
		width 100%
		li
			display block
			margin-bottom 5px
			a
				border-radius 5px
				display block
				padding 20px 30px
				text-transform uppercase
.bp__book
	height 600px
	max-height 600px
	overflow-x auto
	width 100%
/*
 *	EVENTS
 *	==========
 */
.img-event
	height 150px
	max-width 100%
	width 100%
/*
 *	FORUM 
 *	============
 */
.Forum
	&--header
		height 350px
		max-width 100%
		max-height 350px
		position relative
		width 100%
		img
			height 350px
			max-height 100%
			max-width 100%
			width 100%
	&--title
		color $co_white
		font-weight bolder
		left 25px
		position absolute
		bottom 25px
		span
			&.big
				font-size 2.5em
.Answer
	background-color $co_white
	border 1px solid $co_ligth_gray
	border-left 5px solid transparent
	box-shadow 0 2px 4px 0 rgba(0,0,0,.3)
	max-width 100%
	overflow hidden
	padding 25px
	position relative
	transition .1s all ease-in-out
	&.active
		border-left 5px solid $co_orange_primary
		box-shadow 0 2px 4px 0 rgba(0,0,0,.3)
	&:hover
		border-left 5px solid $co_orange_primary
		transition .1s all ease-in-out


//MAIN NAVBAR
.main-navbar
	background-color $co_orange_primary !important
	ul
		li
			&.active a
				color $co_orange_primary !important
			a
				color $co_white !important
				&:hover
					color $co_orange_primary !important