body {
    background-color: #f1f1f1;
    font-size: 16px;
    font-family: 'Raleway',sans-serif;
}

textarea {
    resize: vertical;
}

a {
    color: #f37064;
}

a:hover {
    color: #e16a5f;
    text-decoration: underline;
}

.bg-white {
    background-color: $co_whites;
}

.bolder {
    font-weight: bolder;
}

.co_primary {
    color: #f37064;
}

.display-inline {
    display: inline-block;
}

.figure {
    margin: 0;
    padding: 0;
}

.fontSizeMedium {
    font-size: 16px;
}

.hidden {
    overflow: hidden;
}

.icon-lg {
    font-size: 17px !important;
}

.icon-xl {
    font-size: 20px !important;
}

.icons {
    cursor: pointer;
}

.icon-primary {
    color: #f37064;
    cursor: pointer;
    font-size: 18px !important;
}

.iconMarginRight {
    margin-right: 5px;
}

.img-rounded {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 60px;
    width: 60px;
}

.margin-row-top {
    margin-top: 20px;
}

.margin-row-bottom {
    margin-bottom: 20px !important;
}

.margin-left-sm {
    margin-left: 8px;
}

.menu-active {
    background-color: #e16a5f;
}

.modal-border-radius {
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.modal-padding {
    padding: 15px;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-border-radius {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.padding-row-sm {
    padding: 15px;
}

.padding-row-top {
    padding-top: 30px;
}

.padding-row {
    padding: 35px 0;
}

.relative {
    position: relative;
}

.row-separator {
    border-bottom: 1px solid #eee;
}

.section-title {
    font-family: 'Raleway',sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.section-title hr {
    border-color: #f37064;
    width: 20%;
}

.section-title hr.white {
    border-color: #fff;
}

.star-rate {
    color: #fae617;
}

.transparent {
    background-color: transparent;
}

.text-center {
    text-align: center;
}

.margin-left-negative {
    margin-left: -20px !important;
}

.text-white {
    color: #fff;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.thin {
    font-weight: 100 !important;
}

.uppercase {
    text-transform: uppercase;
}

.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.z-depth-3 {
    -webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.z-depth-4 {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}

.z-depth-5 {
    -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
    box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}

.nav-tabs li.active a {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.navbar-nav li a:hover {
    background-color: #fff !important;
}

.navbar-form {
    margin-top: 0 !important;
}

.bihaiv_table thead {
    background-color: #f37064;
    color: #fff;
}

.facebook {
    color: #3b5999;
}

.youtube {
    color: #cd201f;
}

.twitter {
    color: #55acee;
}

.linkedin {
    color: #0077b5;
}

.btn {
    -webkit-border-radius: 0;
    border-radius: 0;
    letter-spacing: 0.8px;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.btn-primary {
    background-color: #f37064;
    border-color: #e16a5f;
    outline: none;
}

.btn-primary:hover {
    background-color: #e16a5f;
    border-color: #f37064;
}

.btn-primary:active {
    background-color: #e16a5f;
    border-color: #f37064;
    outline: none;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.btn-primary:active:hover {
    background-color: #e16a5f;
    border-color: #f37064;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.btn-primary:focus {
    background-color: #e16a5f;
    border-color: #f37064;
    outline: none;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.btn-primary[disabled]:hover {
    background-color: #f37064;
    border-color: #f37064;
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid #e16a5f;
    color: #fff;
}

.btn-outline-primary:hover {
    background-color: #e16a5f;
    color: #fff;
}

.btn-outline-primary:active,
.btn-outline-primary:focus {
    color: #fff;
    outline: none;
}

.btn-outline-primary.text-orange {
    color: #f37064;
}

.btn-outline-primary.text-orange:hover {
    color: #fff;
}

.btn-success-outline {
    background-color: transparent;
    border: 1px solid #4cae4c;
    color: #4cae4c;
}

.btn-success-outline:hover {
    color: #4cae4c;
}

.btn-primary-outline {
    background-color: transparent;
    border: 1px solid #f37064;
    color: #e16a5f;
}

.btn-primary-outline:hover {
    color: #e16a5f;
}

.btn-outline-white {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-outline-white:hover {
    background-color: #fff;
    color: #f37064;
}

.btn-outline-white:active,
.btn-outline-white:focus {
    color: #f37064;
    outline: none;
}

.btn-outline-white.text-orange {
    color: #f37064;
}

.btn-outline-white.text-orange:hover {
    color: #fff;
}

.site-wrapper {
    height: 100vh;
    position: fixed;
    top: 90px;
    width: 100%;
    z-index: 100;
}

.site-canvas {
    height: 100%;
    padding: 0;
    position: relative;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    width: 100%;
}

.site-menu {
    background: #2f323a;
    float: left;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 15%;
}

.content-app {
    float: left;
    left: 15%;
    height: 100%;
    overflow: auto;
    padding: 20px 20px 100px;
    position: relative;
    width: 85%;
    z-index: 100;
}

.site-wrapper.hide-nav .site-canvas {
    -webkit-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
}

body {
    background-color: #f1f1f1;
    font-size: 16px;
    font-family: 'Raleway',sans-serif;
}

a {
    color: #f37064;
}

a:hover {
    color: #e16a5f;
    text-decoration: underline;
}

.bg-white {
    background-color: $co_whites;
}

.bolder {
    font-weight: bolder;
}

.co_primary {
    color: #f37064;
}

.display-inline {
    display: inline-block;
}

.figure {
    margin: 0;
    padding: 0;
}

.fontSizeMedium {
    font-size: 16px;
}

.hidden {
    overflow: hidden;
}

.icon-lg {
    font-size: 17px !important;
}

.icon-xl {
    font-size: 20px !important;
}

.icons {
    cursor: pointer;
}

.icon-primary {
    color: #f37064;
    cursor: pointer;
    font-size: 18px !important;
}

.iconMarginRight {
    margin-right: 5px;
}

.img-rounded {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 60px;
    width: 60px;
}

.margin-row-top {
    margin-top: 20px;
}

.margin-row-bottom {
    margin-bottom: 20px !important;
}

.margin-left-sm {
    margin-left: 8px;
}

.menu-active {
    background-color: #e16a5f;
}

.modal-border-radius {
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.modal-padding {
    padding: 15px;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-border-radius {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.padding-row-sm {
    padding: 15px;
}

.padding-row-top {
    padding-top: 30px;
}

.padding-row {
    padding: 35px 0;
}

.relative {
    position: relative;
}

.row-separator {
    border-bottom: 1px solid #eee;
}

.section-title {
    font-family: 'Raleway',sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.section-title hr {
    border-color: #f37064;
    width: 20%;
}

.section-title hr.white {
    border-color: #fff;
}

.star-rate {
    color: #fae617;
}

.transparent {
    background-color: transparent;
}

.text-center {
    text-align: center;
}

.margin-left-negative {
    margin-left: -20px !important;
}

.text-white {
    color: #fff;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.thin {
    font-weight: 100 !important;
}

.uppercase {
    text-transform: uppercase;
}

.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.z-depth-3 {
    -webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.z-depth-4 {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}

.z-depth-5 {
    -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
    box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}

.nav-tabs li.active a {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.navbar-nav li a:hover {
    background-color: #fff !important;
}

.navbar-form {
    margin-top: 0 !important;
}

.bihaiv_table thead {
    background-color: #f37064;
    color: #fff;
}

.facebook {
    color: #3b5999;
}

.youtube {
    color: #cd201f;
}

.twitter {
    color: #55acee;
}

.linkedin {
    color: #0077b5;
}

.btn {
    -webkit-border-radius: 0;
    border-radius: 0;
    letter-spacing: 0.8px;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.btn-primary {
    background-color: #f37064;
    border-color: #e16a5f;
    outline: none;
}

.btn-primary:hover {
    background-color: #e16a5f;
    border-color: #f37064;
}

.btn-primary:active {
    background-color: #e16a5f;
    border-color: #f37064;
    outline: none;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.btn-primary:active:hover {
    background-color: #e16a5f;
    border-color: #f37064;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.btn-primary:focus {
    background-color: #e16a5f;
    border-color: #f37064;
    outline: none;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.btn-primary[disabled]:hover {
    background-color: #f37064;
    border-color: #f37064;
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid #e16a5f;
    color: #fff;
}

.btn-outline-primary:hover {
    background-color: #e16a5f;
    color: #fff;
}

.btn-outline-primary:active,
.btn-outline-primary:focus {
    color: #fff;
    outline: none;
}

.btn-outline-primary.text-orange {
    color: #f37064;
}

.btn-outline-primary.text-orange:hover {
    color: #fff;
}

.btn-success-outline {
    background-color: transparent;
    border: 1px solid #4cae4c;
    color: #4cae4c;
}

.btn-success-outline:hover {
    color: #4cae4c;
}

.btn-primary-outline {
    background-color: transparent;
    border: 1px solid #f37064;
    color: #e16a5f;
}

.btn-primary-outline:hover {
    color: #e16a5f;
}

.btn-outline-white {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-outline-white:hover {
    background-color: #fff;
    color: #f37064;
}

.btn-outline-white:active,
.btn-outline-white:focus {
    color: #f37064;
    outline: none;
}

.btn-outline-white.text-orange {
    color: #f37064;
}

.btn-outline-white.text-orange:hover {
    color: #fff;
}

.Header {
    background-color: #fff;
    display: block;
    max-width: 100%;
    position: fixed;
    width: 100%;
    z-index: 101;
}

.Panal {
    background: url("../img/home/fondopanal.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.navbar-form {
    margin-top: 10px;
}

.Header__nav {
    background-color: #fff;
    line-height: 60px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 100%;
}

.Header__nav figure {
    margin-top: -5px;
}

.btn-header-menu {
    color: #f37064;
    font-size: 1.2em;
    letter-spacing: 0.8px;
    border-bottom: 1px solid transparent;
}

.btn-header-menu:hover {
    color: #f37064;
    border-bottom: 1px solid #f37064;
}

.navbar {
    background-color: #fff !important;
    border-color: transparent !important;
    height: 50px;
    line-height: 60px !important;
    margin-bottom: 0 !important;
}

.navbar-collapse {
    background-color: #fff;
    border-bottom: 3px solid #f37064 !important;
}

.Header__navigation {
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
    position: absolute;
}

.Header__footer {
    background: url("../img/home/Linea_imagen.png") repeat-x center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    bottom: -2px;
    height: 60px;
    left: 0;
    max-width: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 999;
}

.Slider {
    background-color: #f5f6f6;
    height: 600px;
    max-width: 100%;
    width: 100%;
}

.Slider img {
    height: 600px;
    max-height: 600px;
    width: 100%;
    max-width: 100%;
}

.slider-description {
    color: #f37064;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #8c413a;
    top: 250px;
    z-index: 999;
}

.History {
    background-color: #fff;
    max-width: 100%;
}

.Map {
    background-color: #f37064;
    max-width: 100%;
    width: 100%;
}

.Links {
    background-color: #f5f6f6;
    height: 60px;
    line-height: 60px;
    max-width: 100%;
    width: 100%;
}

.Header__fixed {
    background-color: #fff;
    display: none;
    max-width: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.btn-header-menu-fixed {
    color: #f37064;
    font-size: 1.2em;
    letter-spacing: 0.8px;
    border-bottom: 1px solid transparent;
}

.btn-header-menu-fixed:hover {
    color: #e16a5f;
    border-bottom: 1px solid #e16a5f;
}

.panalContainer {
    width: 339px;
    height: 319px;
    display: block;
    top: 60px;
    background: url("../img/home/Logo_gris.png") center center no-repeat;
    position: relative;
}

.panalContainer a {
    width: 103px;
    height: 119px;
    display: block;
    position: absolute;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter:alpha(opacity=90);
}

.panalContainer a:hover {
    opacity: 1;
    -ms-filter:none;
    filter:none;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.panalContainer div h3 {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    text-shadow: -1px -2px #fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.panalContainer div:hover h3 {
    text-shadow: 0 1px 2px #999;
    opacity: 1;
    -ms-filter:none;
    filter:none;
}

.profileIcon a.icon {
    background: url("../img/home/Profile.png");
    top: 0;
    left: 58px;
}

.profileIcon h3 {
    top: 20px;
    left: -35px;
}

.calendarioIcon a.icon {
    background: url("../img/home/Calendario_icon.png");
    top: 0;
    left: 179px;
}

.calendarioIcon h3 {
    top: 20px;
    left: 310px;
}

.bdIcon a.icon {
    background: url("../img/home/BD_Icon.png");
    top: 100px;
    left: 0;
}

.bdIcon h3 {
    top: 125px;
    left: -120px;
}

.socialIcon a.icon {
    background: url("../img/home/Red_social_icon.png");
    top: 100px;
    left: 236px;
}

.socialIcon h3 {
    top: 125px;
    left: 370px;
    width: 200px;
}

.videoIcon a.icon {
    background: url("../img/home/Video_icon.png");
    top: 200px;
    left: 58px;
}

.videoIcon h3 {
    top: 225px;
    left: -80px;
    width: 120px;
}

.foroIcon a.icon {
    background: url("../img/home/Foro_icon.png");
    top: 200px;
    left: 179px;
}

.foroIcon h3 {
    top: 225px;
    left: 310px;
}

.bihaivModulo h1 {
    text-align: center;
    border-bottom: 1px solid #666;
}

.bihaivModulo h1.txt-white {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.panalContainer div.popover {
    top: 0 !important;
    background-color: #fff !important;
}

.panalContainer div.popover a:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.panalContainer div.popover.position-roles {
    left: -300px !important;
    top: -50px !important;
    background-color: #fff !important;
}

.panalContainer div.popover.position-expertises {
    left: -339px !important;
    top: 100px !important;
    background-color: #fff !important;
}

.panalContainer div.popover.position-library {
    left: -300px !important;
    top: 180px !important;
    background-color: #fff !important;
}

.panalContainer div.popover.position-calendar {
    left: 350px !important;
    top: -50px !important;
    width: 414px !important;
    background-color: #fff !important;
}

.panalContainer div.popover.position-forum {
    left: 350px !important;
    top: 200px !important;
    width: 414px !important;
    background-color: #fff !important;
}

.panalContainer div.popover.position-map {
    left: 415px !important;
    top: 80px !important;
    width: 414px !important;
    background-color: #fff !important;
}

.panalContainer div a.icon {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.panalContainer div a.icon:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.body-login {
    background-image: url("../img/home/login.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.Header__login {
    background-color: transparent;
    height: 60px;
    line-height: 60px;
    width: 100%;
    max-width: 100%;
}

.Form__login {
    background-color: rgba(0,0,0,0.7);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-top: 120px;
    overflow: hidden;
    padding: 20px;
    width: 400px;
}

.Form__login label {
    color: #f5f6f6;
}

.Form__login.large {
    width: 100%;
}

.Form__login.margin-top-min {
    margin-top: 35px;
}

.slide_history {
    height: 100vh;
}

.slide_history iframe {
    height: 100%;
    max-height: 100%;
}

.Profile__header {
    background-color: #fff;
    border-top: 5px solid #f37064;
    height: 100px;
    line-height: 100px;
    max-width: 100%;
    position: relative;
    width: 100%;
    z-index: 999;
}

.breadcrumb-header-actions i {
    font-size: 18px;
}

.Profile__nav {
    background-color: #f37064;
    height: auto;
    line-height: 45px;
    max-width: 100%;
    margin-top: 70px;
    overflow: hidden;
    width: 100%;
}

.Profile__nav ul {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 !important;
    padding: 0 !important;
}

.Profile__nav ul li {
    display: inline-block;
}

.Profile__nav ul li a {
    color: #fff;
    line-height: 45px;
    padding: 20px;
}

.Profile__nav ul li a:hover {
    background-color: #e16a5f;
}

.Profile__nav h2 {
    color: #fff;
    line-height: 50px;
    margin: 0;
}

.Profile__cover {
    background: #fff;
    max-width: 100%;
    width: 100%;
}

.Profile__cover img {
    height: 315px;
    margin: 0;
    max-height: 315px;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

.Profile__info {
    background-color: #fff;
    // height: 170px;
    max-width: 100%;
    position: relative;
    width: 100%;
}

@media (max-width: 769px) {
  .Profile__info--photo {
    width: 200px !important;
    top: -298px !important;
    right: 0% !important;
    margin-left: -100px !important;
  }
}

.Profile__info--photo {
    border: 2px solid #f5f6f6;
    height: 180px;
    position: absolute;
    top: -85px;
    width: 200px;
}

.Profile__info--photo img {
    height: 100%;
    width: 100%;
}

.Profile__info--photo ul {
    margin-top: 5px;
}

.Profile__info--photo ul li {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

@media (max-width: 769px) {
  .Profile__info--title {
    margin-left: 0px !important;
    .Role--Profile, .Company--Profile{
      margin-right: 192px;
    }
  }
}

.Profile__info--title {
    color: #fff;
    margin-left: 225px;
    padding: 5px;
    position: relative;;
    top: -80px;
}

.Role--Profile {
    font-weight: 300;
    color: #f37064 !important;
    margin: 0 0 0.5rem;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Role--Profile span {
    color: #f37064 !important;
}

.Company--Profile {
    font-weight: 700;
    color: #f37064 !important;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    white-space: nowrap;
    // overflow: hidden;
    text-overflow: ellipsis;
}

.Company--Profile a {
    color: #f37064 !important;
}

.Company--Profile a:hover {
    color: #e16a5f !important;
}

.Description--profile {
    color: #000;
    font-size: 1em;
    line-height: 24px;
    margin-top: 1em;
}

.Profile__wall {
    background-color: #fff;
    width: 100%;
}

.Wall {
    background-color: #fff;
    height: auto;
    max-width: 100%;
}

.Wall__header {
    background-color: #f37064;
    border-bottom: 2px solid #b7564d;
    padding: 5px 20px;
    z-index: 999;
}

.Wall__header p {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
    padding: 0;
}

.Wall__header p a {
    color: #b7564d;
}

.Wall__header figure img {
    height: 15px;
}

.Wall__content {
    height: auto;
    max-height: auto;
    overflow-y: auto;
}

.Wall__content.padding {
    padding: 10px 20px;
}

.Wall__content img {
    text-align: center;
}

.Wall__content img.img-initiative {
    height: 130px;
    max-width: 100%;
}

.Wall__content img.img-shares {
    height: 100px;
    max-width: 100%;
}

.Wall__content div.social {
    text-align: center;
}

.Wall__content.large {
    height: auto !important;
    max-height: 100%;
}

.wall-edit-button {
    background-color: #f5f6f6;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 5px;
    text-align: center;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    transition: 0.2s all ease;
    top: 5px;
    width: 30px;
}

.wall-edit-button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.date--initiative,
.place--initiative,
.title--initiative {
    margin: 0 0 0.5rem;
}

.actors figure {
    display: inline-block;
    margin-right: 5px;
}

.list-group {
    display: block;
    list-style: none;
}

.list-group.focus li {
    border: 1px solid #eee;
    display: inline-block;
    max-width: 100%;
    padding: 10px 6px;
    width: 100%;
}

.list-group-item.hoverable {
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.list-group-item.hoverable:hover {
    -webkit-box-shadow: 0 5px 17px 0 rgba(0,0,0,0.4);
    box-shadow: 0 5px 17px 0 rgba(0,0,0,0.4);
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    z-index: 100;
}

.row.hoverable {
    background-color: #fff;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.row.hoverable:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.row-colaboration {
    background-color: #fff;
    line-height: 16px;
    padding: 15px;
    position: relative;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.row-colaboration p {
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.row-colaboration:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    z-index: 1000;
}

.close-row-sugerencias {
    background-color: #e16a5f;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 0;
    width: 25px;
    z-index: 100;
}

.close-row-sugerencias i {
    color: #fff;
    font-size: 18px;
    line-height: 25px;
}

.Contacts {
    height: auto;
    max-width: 100%;
    text-align: center;
    width: 100%;
}

.Contacts__profile {
    background-color: #fff;
    border: 1px solid #f5f6f6;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    width: 100%;
}

.Contacts__profile p {
    margin: 0;
}

.Contacts__profile:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.Contacts__profile--identifyer {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    height: 30px;
    left: 18px;
    position: absolute;
    top: 18px;
    width: 30px;
    z-index: 100;
}

.Contacts__profile--identifyer img {
    height: 30px;
    width: 30px;
}

.Contacts__profile--img {
    height: 200px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
}

.Contacts__profile--name {
    margin-top: 10px !important;
}

.Contacts__profile--role {
    margin-top: 5px !important;
}

.Contacts__profile--button {
    margin-top: 10px !important;
}

.Events {
    background-color: #e16a5f;
    height: 300px;
    max-width: 100%;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
}

.Events--title {
    display: block;
    position: absolute;
    color: #fff;
    margin-bottom: 15px;
    top: 10px;
    left: 10px;
    z-index: 1000;
    font-weight: bolder;
}

.Events--title span {
    display: block;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    z-index: 1000;
    font-weight: bolder;
}

.bg-img {
    position: relative;
}

.bg-img:after {
    background-color: rgba(0,0,0,0.5);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.heart {
    height: 70px;
    position: relative;
    width: 70px;
}

.heart i {
    color: #808080;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 35px;
}

.heart i:hover {
    color: #e16a5f;
}

.heart i.active {
    color: #f37064;
    -webkit-animation: fave-heart 0.4s steps(28);
    -moz-animation: fave-heart 0.4s steps(28);
    -o-animation: fave-heart 0.4s steps(28);
    -ms-animation: fave-heart 0.4s steps(28);
    animation: fave-heart 0.4s steps(28);
}

.heart span {
    width: 100px;
}

.heart span.event-likes {
    position: absolute;
    font-size: 14px;
    left: 10px;
    top: 50px;
}

.heart span.event-likes:after {
    content: ' me gusta';
}

.Questions__Company {
    background-color: #f5f6f6;
    height: 100px;
    width: 100%;
}

.Company__Name h1 {
    margin: 0;
    line-height: 100px;
}

.Questions__Role {
    background-color: #fff;
}

.Menu {
    background-color: $co_light_black;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    width: 100%;
}

.Menu__header {
    background: rgba(0,0,0,0.3);
    max-height: 20%;
    max-width: 100%;
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-align: center;
}

.Menu__header figure {
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.Menu__header figure img {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin: 0 auto;
}

.Menu__header p {
    color: $co_light_gray;
    margin: 0;
    padding: 0;
}

.Menu__header p:first-of-type {
    margin-top: 10px !important;
}

.Menu__list {
    height: 60%;
    max-height: 60%;
    max-width: 100%;
    overflow: auto;
    position: relative;
}

.Menu__list ul {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}

.Menu__list ul li {
    display: block;
}

.Menu__list ul li a {
    border-bottom: 1px solid rgba(69,74,84,0.7);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 20px;
}

.Menu__list ul li a i {
    margin-right: 10px;
}

.Menu__list ul li a:hover {
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
}

.Menu__list ul li a.active {
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
}

.bp__menu {
    border: 1px solid #f5f6f6;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 600px;
    max-height: 600px;
    overflow-x: auto;
    width: 100%;
}

.bp__menu ul {
    padding: 10px;
    width: 100%;
}

.bp__menu ul li {
    display: block;
    margin-bottom: 5px;
}

.bp__menu ul li a {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding: 20px 30px;
    text-transform: uppercase;
}

.bp__book {
    height: 600px;
    max-height: 600px;
    overflow-x: auto;
    width: 100%;
}

.img-event {
    height: 150px;
    max-width: 100%;
    width: 100%;
}

.Forum--header {
    height: 350px;
    max-width: 100%;
    max-height: 350px;
    position: relative;
    width: 100%;
}

.Forum--header img {
    height: 350px;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

.Forum--title {
    color: #fff;
    font-weight: bolder;
    left: 25px;
    position: absolute;
    bottom: 25px;
}

.Forum--title span.big {
    font-size: 2.5em;
}

.Answer {
    background-color: #fff;
    border: 1px solid #f5f6f6;
    border-left: 5px solid transparent;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    max-width: 100%;
    overflow: hidden;
    padding: 25px;
    position: relative;
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
    -ms-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}

.Answer.active {
    border-left: 5px solid #f37064;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

.Answer:hover {
    border-left: 5px solid #f37064;
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
    -ms-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}

.main-navbar {
    background-color: #f37064 !important;
}

.main-navbar ul li.active a {
    color: #f37064 !important;
}

.main-navbar ul li a {
    color: #fff !important;
}

.main-navbar ul li a:hover {
    color: #f37064 !important;
}
@-moz-keyframes fave-heart {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        color: rgba(243,112,100,0.2);
    }

    50% {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: rgba(243,112,100,0.5);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        color: #f37064;
    }
}
@-webkit-keyframes fave-heart {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        color: rgba(243,112,100,0.2);
    }

    50% {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: rgba(243,112,100,0.5);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        color: #f37064;
    }
}
@-o-keyframes fave-heart {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        color: rgba(243,112,100,0.2);
    }

    50% {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: rgba(243,112,100,0.5);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        color: #f37064;
    }
}
@keyframes fave-heart {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        color: rgba(243,112,100,0.2);
    }

    50% {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: rgba(243,112,100,0.5);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        color: #f37064;
    }
}

.modal-content {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.Img-modal {
    height: 190px;
    position: relative;
    width: 100%;
}

.Img-modal:after {
    background-color: rgba(0,0,0,0.5);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.Img-modal img {
    height: 190px;
    max-width: 100%;
    width: 100%;
}

.Card {
    background-color: #fff;
    max-width: 100%;
    padding: 25px;
    width: 100%;
}

.Card--Avatar {
    height: 200px;
    max-width: 100%;
}

.Card--Avatar img {
    height: 100%;
    width: 100%;
}

.Card--Info {
    max-width: 100%;
}
