md-card {
	background-color: white;
}

.panel-parent-category {
	padding: 10px;
}

.panel-parent-category .panel-group{
	margin-bottom: 0;
}

#accordion_parent_categories .bg-panel-primary {
	color: white;
	background-color: #f37064;
	border-bottom: 2px solid #B7564D;
}

#accordion_parent_categories .bg-panel-primary a:hover{
	color: #fcc0ba;
}

.accordion_categories .list-group-item{
	cursor: pointer;
	font-size: 13px;
}

.accordion_categories .list-group-item:hover{
	color: #999;
}

#contribution_pdf_preview{
	min-height: 530px;
}

#contribution_pdf_preview iframe{
	width: 100%;
	height: 500px;
	padding: 0;
	border: 0;
	margin: 0;
}

#contributions-grid md-card-header{
	padding: 0px;
	overflow: hidden;
	min-height: 180px;
	max-height: 180px;
	position: relative;
}

#contributions-grid #contributions-filter md-card-header{
	padding-bottom: 16px;
	min-height: 0;
	max-height: none;
}

#contributions-grid .img-placeholder{
	width: 100%;
	height: 180px;
	background-color: #ececec;
}

#contributions-grid md-card h4{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5em;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-weight: lighter;
	padding: 10px;
	bottom: 0px;
	margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
	#contributions-grid md-card h4{
		height: auto;
	}

	#contributions-grid md-card-header{
		max-height: none;
	}
}
