@inset-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
@shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
@gray : #3a3a3a;
/* color helpers ============================================================ */
.color-gray{
  background-color: #edefed;
}
/* shadow helpers =========================================================== */
.z-depth-half {
    box-shadow: 0 1px 15px rgba(0,0,0,0.15);
}
.z-depth-1 {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}
.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}
/* PINK MENU ================================================================ */
.main-navbar ul li a {
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: color, background, opacity;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-duration: 200ms;
  -moz-transition-property: color, background, opacity;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-duration: 200ms;
  -o-transition-property: color, background, opacity;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: color, background, opacity;
}
/* PINK movil =============================================================== */
.pink-menu-movil{
  display: none;
  min-height: 100%;
  width: 100%;
  z-index: 10000;
  background-color: rgba(243,112,100,0.95);
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 3em;
  margin-left: -15px;
  .header-menu{
    text-align: center;
    color: white;
    #trigger-menu-close{
      position: absolute;
      color: white;
      top: 15px;
      right: 25px;
      font-size: 2em;
      text-decoration: none;
    }
  }
  ul{
    width: 100%;
    margin: 0px;
    padding: 0px;
    li{
      text-align: center;
      border-bottom: solid rgba(255,255,255,0.7) 1px;
      a{
        text-transform: uppercase;
        font-family: raleway;
        font-weight: 100;
        font-size: 1.3em;
        line-height: 3em;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: white;
        -webkit-transition-duration: 200ms;
        -webkit-transition-property: color, background, opacity;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-duration: 200ms;
        -moz-transition-property: color, background, opacity;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-duration: 200ms;
        -o-transition-property: color, background, opacity;
        -o-transition-timing-function: ease-in-out;
        transition-duration: 200ms;
        transition-property: color, background, opacity;
        &:hover{
          background-color: white;
          color: #f37064;
        }
      }
    }
  }
}
.btn-menu{
  margin: 15px 0px;
  background-color: #f37064;
  border-color: white;
  color: white;
  text-transform: uppercase;
}
/* HOME ===================================================================== */
.descargar-aportacion{
  width: 100%;
  background-color: #f37064;
  padding: 6px;
  color: white;
  text-align: center;
  font-family: raleway;
  font-weight: 500;
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: color, background, opacity;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-duration: 200ms;
  -moz-transition-property: color, background, opacity;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-duration: 200ms;
  -o-transition-property: color, background, opacity;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: color, background, opacity;
  &:hover{
    cursor: pointer;
    background-color: #f78c83;
  }
}
.Role--Profile span {
  color: white !important;
}
.Company--Profile a {
  text-decoration: none;
  color: white !important;
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: color, background, opacity;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-duration: 200ms;
  -moz-transition-property: color, background, opacity;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-duration: 200ms;
  -o-transition-property: color, background, opacity;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: color, background, opacity;
  &:hover{
    text-decoration: none;
  }
}
.map-container-home {
  & > h2.float-title{
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(243,112,100,0.85);
    padding: 20px 0px;
    position: absolute;
    z-index: 1;
    width: 100%;
    hr{
      margin-bottom: 0px !important;
    }
  }
}
.slider-description-new{
  color: white !important;
  letter-spacing: 1px !important;
  position: absolute !important;
  text-transform: initial !important;
  text-shadow: 1px 1px 3px #4c4c4c !important;
  top: 250px !important;
  z-index: 999 !important;
  font-family: Raleway !important;
  font-weight: 600 !important;
  font-size: 40px !important;
  // background-color: rgba(255,255,255,.40) !important;
  padding: 15px 40px !important;
  border-radius: 2px !important;
}
/* Panal =====================================================================*/
.panalContainer a {
  transition: 350ms cubic-bezier(0.13, 0.91, 0.35, 0.99);
  &:hover{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
}
.panalContainer{
  div{
    .popover{
      font-family: raleway;
      top: -165px;
      left: 30px;
      border-radius: 2px;
      border: none;
      transition: 350ms cubic-bezier(0.13, 0.91, 0.35, 0.99);
      background-color: rgba(255,255,255,.50);
      h4{
        padding-left: 15px;
        font-size: 14px;
      }
      p{
        font-size: 12px;
      }
    }
    &:hover{
      .popover{
        display: block;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
  }
}
/* Head map ================================================================= */
.head-map-container {
    .title-tag {
        margin-top: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
}
/* Mapas de calor*/
.mapa-calor-primary {
    border-top: solid #f37064 3px;
    border-radius: 2px;
    padding-left: 0;
    .medal-icon {
        width: 30%;
        margin: 20px auto 0;
    }
}
.progress {
    height: 20px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 2px;
    box-shadow: @inset-shadow;
    width: 90% !important;
    margin: 0 auto !important;
    img.minus,
    img.plus {
        box-shadow: @shadow;
        position: absolute;
        transition: 150ms;
        &:hover {
            cursor: pointer;
            box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
        }
    }
    img.minus {
        float: left;
        left: 4%;
    }
    img.plus {
        float: right;
        right: 4%;
    }
    .progress-bar-0 {
        width: 0 !important;
    }
    .progress-bar-1 {
        width: 20% !important;
        background-color: #C02B39 !important;
    }
    .progress-bar-2 {
        width: 40% !important;
        background-color: #DA670E !important;
    }
    .progress-bar-3 {
        width: 60% !important;
        background-color: #F1C40F !important;
    }
    .progress-bar-4 {
        width: 80% !important;
        background-color: #85DA0E !important;
    }
    .progress-bar-5 {
        width: 100% !important;
        background-color: #2ECC71 !important;
    }
}
/* profile rate */
.star-rate-profile {
    color: yellow;
}
/* Roles =====================================================================*/
.gray-header{
  min-height: 250px;
  background-color: #3a3a3a;
  color: white;
  display: table;
  width: 100%;
  .gray-text{
    display: table-cell;
    vertical-align: middle;
    padding: 40px;
    .img-helper{
      text-align: center;
      margin: 1em 0;
    }
    .helper{
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    h1.title-gray{
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 0px;
    }
    p.description-gray{
      font-size: 25px;
      font-weight: lighter;
    }
    img.img-header{
      /* Se deshabilita temporalmente -- !!! */
      // position: absolute;
      height: 110px;
      // top: 25%;
      // right: 55px;
    }
  }

}
.cards-container{
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 40px;
  h1.more-info-title{
    margin: 20px 0px;
    text-align: center;
    font-weight: 500;
    color: #545454;
  }
  .panel-card{
    box-shadow: @shadow;
    border-radius: 2px;
    margin-bottom: 8px;
    h3.title{
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: capitalize !important;
    }
    a.more-info{
      font-weight: bold;
      text-decoration: none;
    }
  }
}
.panel-card{
  box-shadow: @shadow;
  border-radius: 2px;
  margin-bottom: 8px;
}
#calendario-container{
  .list-group-item{
    .badge{
      position: absolute;
      right: 0px;
      height: 100%;
      top: 0px;
      border-radius: 0px;
      background-color: #f37064;
      min-width: 43px !important;
      font-size: 14px;
      padding: 1em;
      font-weight: lighter;
    }
  }
}

/* Aportaciones =====================================================================*/
.aportaciones-container{
  padding: 5% 3%;
  margin-top: 40px;

  @media (max-width: 991px) {
    .img-aportacion{
      width: 50%;
    }
  }
  @media (min-width: 768px) {
    .aportaciones-card{
      height: auto;
    }
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .aportaciones-card{
      height: 531px;
    }
  }
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .aportaciones-card{
      height: 474px;
    }
  }

  .aportaciones-card{
    padding: 40px 20px;
    .aportaciones-title{
      text-align: center;
      font-weight: bold;
      margin-top: 0px;
      font-size: 20px;
      color: #545554;
    }
    .img-aportacion{
      max-width: 100%;
    }
    .description{
      margin-top: 20px;
      text-align: center;
      color: #545554;
    }
  }
  .card-1{
    background-color: #fdea9c;
  }
  .card-2{
    background-color: #d0d1d2;
  }
  .card-3{
    background-color: #f8b2a2;
  }
  .card-4{
    background-color: #b0ddf1;
  }
}
/* Footer ====================================================================*/
footer{
  padding-top: 40px;
  background-color: @gray;
  color: #8d8e8e;
  ul{
    li{
      list-style-type: none;
      padding: 5px 0px;
    }
  }
  a {
    text-decoration: none;
    color: #8d8e8e;
    -webkit-transition-duration: 200ms;
    -webkit-transition-property: color, background, opacity;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-duration: 200ms;
    -moz-transition-property: color, background, opacity;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration: 200ms;
    -o-transition-property: color, background, opacity;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    transition-property: color, background, opacity;
    &:hover{
      text-decoration: none;
      color: #b3b5b5;
    }
  }
  .footer-title{
    font-weight: bold;
  }
  form{
    label{
      font-weight: normal;
    }
    input{
      border-radius: 0px !important;
    }
  }
  .container{
    .img-footer{
      width: 60%;
    }
  }
  .Links{
    background-color: @gray;
    .container{
      .breadcrumb{
        background-color: @gray;
      }
    }
  }
}
// .navbar-nav{
  .dropdown-menu{
    li{
      a{
        -webkit-transition-duration: 200ms;
        -webkit-transition-property: color, background, opacity;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-duration: 200ms;
        -moz-transition-property: color, background, opacity;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-duration: 200ms;
        -o-transition-property: color, background, opacity;
        -o-transition-timing-function: ease-in-out;
        transition-duration: 200ms;
        transition-property: color, background, opacity;
        &:hover{
          background-color: #f37064 !important;
          color: white !important;
          font-weight: 500 !important;
        }
      }
    }
  }
// }
/* Notification  */
.notifications-ul{
  li.media.notification{
    margin: 0px;
    .media-body{
      .notification-heading{
        padding: 10px;
        a{
          text-decoration: none;
          font-weight: bold;
          &:hover{
            font-weight: bold !important;
            color: #f37064 !important;
            background-color: white !important;
          }
        }
        img{
          width: 30px;
          height: 30px;
          border-radius: 50%
        }
      }
    }
  }
}
