.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    vertical-align: middle;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #f37064;
    border-color: #f37064;
}

.pagination li{
    cursor: pointer;
}

.center{
    text-align: center;
}

.box-avatar {
    background: gray none repeat scroll 0 0 / cover ;
    height: 80px;
    width: 80px;
}

