.center{
    text-align: center;
}

.box-avatar{
    width: 80px;
    height: 80px;
    background: gray;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    vertical-align: middle;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #f37064;
    border-color: #f37064;
}

.pagination li{
    cursor: pointer;
}