.pull-right{
    margin-right: 20px;
}

.box-img {
    height: 178px;
    background: lightgray;
    margin-top: 4px;
    background-size: cover;
    margin-bottom: 10px;
    background-position-x: center;
    background-position-y: center;
        position: relative;
}
.seccion{
    margin-bottom: 50px;
}

#bibliografia{
    min-height: 200px;
}


#files{
    display: none;
    visibility: hidden;
}

.requerido{
    color: #f37064;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    position: relative;
    top: 3px;
    margin-right: 5px;
}


.dz-details{
    display: none;
}

.dz-success-mark{
    display: none;
}

.dz-error-mark{
    display: none;
}
.box-img .dz-image img{
    width: 178px;
    z-index: 100;
    position: relative;
}

.box-img span{
    position: absolute;
    top: 70px;
    font-size: 13px;
    left: 20px;
}


